@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Sans+Pro:wght@600&display=swap");

body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 1px;
  height: 100px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #171923; /* color of the tracking area */
  height: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4e4d4d6e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
* {
  -webkit-tap-highlight-color: transparente;
}
*:focus {
  box-shadow: none !important;
  outline: "none" !important;
}
body::-webkit-scrollbar {
  width: 2px;
  height: 100px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #171923; /* color of the tracking area */
  height: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4e4d4d6e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}